{
  "importOrder": ["^@/(.*)$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "pluginSearchDirs": false,
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "printWidth": 80,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "useTabs": true,
  "format_on_save": "on",
  "code_actions_on_format": {
    "source.fixAll.eslint": true
  }
}
