{
  "importOrder": ["^@/(.*)$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "pluginSearchDirs": false,
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "useTabs": true
}
