@import "Breakpoints";
@import "Colors";

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: .6px;
  padding-bottom: 1rem;

  @include min-width('s') {
    font-size: 1.15rem;
  }

  @include min-width('l') {
    font-size: 1.25rem;
  }

  @include min-width('xl') {
    font-size: 1.7rem;
  }

  @include min-width('xxl') {
    font-size: 1.75rem;
  }
}

h1 {
  font-family: 'Montserrat Variable', sans-serif;
  font-weight: 200;
  padding-bottom: 1rem;

  @include min-width('s') {
    font-size: 2.75rem!important;
  }

  @include min-width('m') {
    font-size: 2.75rem!important;
  }

  @include min-width('l') {
    font-size: 3rem!important;
  }

  @include min-width('xl') {
    font-size: 3rem!important;
  }

  @include min-width('xxl') {
    font-size: 3rem!important;
  }
}

h2 {
  font-family: 'Montserrat Variable', sans-serif;
  font-weight: 200;

  @include min-width('s') {
    font-size: 1.5rem!important;
  }

  @include min-width('m') {
    font-size: 1.7rem!important;
  }

  @include min-width('l') {
    font-size: 2.25rem!important;
  }

  @include min-width('xl') {
    font-size: 2.5rem!important;
  }

  @include min-width('xxl') {
    font-size: 4rem!important;
  }
}

h3 {
  font-family: 'Montserrat Variable', sans-serif;
  font-weight: 200;

  @include min-width('s') {
    font-size: 1.25rem!important;
  }

  @include min-width('m') {
    font-size: 1.25rem!important;
  }

  @include min-width('l') {
    font-size: 1.75rem!important;
  }

  @include min-width('xl') {
    font-size: 1.75rem!important;
  }

  @include min-width('xxl') {
    font-size: 3rem!important;
  }
}

h4 {
  font-family: 'Source Code Pro Variable', monospace;
  font-weight: normal;

  @include min-width('s') {
    font-size: 1rem!important;
  }

  @include min-width('m') {
    font-size: 1.25rem!important;
  }

  @include min-width('l') {
    font-size: 1.75rem!important;
  }

  @include min-width('xl') {
    font-size: 1.75rem!important;
  }

  @include min-width('xxl') {
    font-size: 3rem!important;
  }
}

h5 {
  font-family: 'Source Code Pro Variable', monospace;
  font-weight: normal;
}
