@import "Breakpoints";

body {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.6;

  @include min-width('l') {
    font-size: 1rem;
  }

  @include min-width('xl') {
    font-size: 1rem;
  }

  @include min-width('xxl') {
    font-size: 1.75rem;
  }
}

h1 {
  font-family: 'Montserrat Variable', sans-serif;
}

h2 {
  font-family: 'Montserrat Variable', sans-serif;
  font-weight: 500;
}

h3 {
  font-family: 'Montserrat Variable', sans-serif;
  font-weight: 600;
}

h4 {
  font-family: 'Fira Code Variable', monospace;
  font-weight: 700;
}

h5 {
  font-family: 'Source Code Pro Variable', monospace;
  font-weight: 800;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
