@import "Breakpoints";
@import "Colors";

body {
  font-family: 'Source Sans 3 Variable', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.6px;
  padding-bottom: 1rem;
}

h1 {
  font-family: "Montserrat Variable", sans-serif;
}

h2 {
  font-family: "Montserrat Variable", sans-serif;
}

h3 {
  font-family: "Montserrat Variable", sans-serif;
}

h4 {
  font-family: "Source Code Pro Variable", monospace;
}
