@import 'Breakpoints';
@import 'Colors';
@import 'Fonts';
@import "Scrollbar";

html {
  font-size: 100%;
  position: relative;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  font-family: 'Montserrat Variable', sans-serif;
  text-decoration: none;
  color: var(--primary-dark);

  &:hover {
    color: var(--secondary-light);
  }

  &:active {
    color: var(--primary-color);
  }
}
