@import 'Breakpoints';
@import 'Colors';
@import 'Fonts';
@import "Scrollbar";
@import "Normalize";
@import "Spacings";

@mixin useBreakpoint($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

html {
  font-size: 100%;
  position: relative;
  scroll-behavior: smooth;
}
