@import 'Breakpoints';
@import 'Colors';
@import 'Fonts';
@import "Scrollbar";
@import "Normalize";
@import "Spacings";

html {
  font-size: 100%;
  position: relative;
  scroll-behavior: smooth;
}


