---
import {getCollection} from "astro:content";
import Layout from "../layouts/multi.astro";
import "@fontsource-variable/montserrat";
import "@fontsource-variable/source-code-pro";
import '@fontsource/source-sans-pro';
import "@fontsource/roboto";

const pages = await getCollection("pages");
const page = pages.find(page => page.slug === "page-6-datenschutz");
let Content;
if (page) {
	const rendered = await page.render();
	Content = rendered.Content;
}
---

<Layout title="Eckwerk Stuttgart">
  <section class="flex my-[20vh]">
    <article class="p-[2vh_5vw_3vh_5vw] sm:p-[2vh_5vw_3vh_5vw] md:p-[4vh_10vw_5vh_10vw] lg:p-[4vh_15vw_5vh_15vw] xl:p-[4vh_15vw_5vh_15vw]">
      {Content && <Content />}
    </article>
  </section>
</Layout>
