---
import {getCollection} from "astro:content";
import Layout from "../layouts/multi.astro";
import "@fontsource-variable/montserrat";
import "@fontsource-variable/source-code-pro";
import '@fontsource/source-sans-pro';
import "@fontsource/roboto";

const pages = await getCollection("pages");
const page = pages.find(page => page.slug === "page-5-impressum");
let Content;
if (page) {
	const rendered = await page.render();
	Content = rendered.Content;
}
---

<Layout title="Eckwerk Stuttgart">
    <section >
        <article >
					{Content &&
                  <Content/>}
        </article>
    </section>
</Layout>
