---
import Layout from "../layouts/Layout.astro";
import "@fontsource-variable/montserrat";
import "@fontsource-variable/fira-code";
import "@fontsource-variable/source-code-pro";
import '@fontsource/source-sans-pro';
import "@fontsource/roboto";
import "./../styles/GlobalStyling.scss";
import {Icon} from "astro-icon/components";
import Contact from "../components/Contact.astro";
---

<Layout title="Eckwerk Stuttgart">
    <main>
        <Icon name="logo2"/>
        <p>Unsere Homepage macht gerade Urlaub. <br/>
            <br/>
            Wir sind aber gerne jederzeit für Sie da und stehen mit Rat und Tat zur Seite. <br/>
            Melden Sie sich einfach bei uns!</p>
        <Contact/>
    </main>
</Layout>

<style lang="scss" is:global>
  @import "./../styles/GlobalStyling";
</style>
