---
import type { INavigation } from '@/types/navigation'

interface Props {
	navigation: INavigation[]
}

const { navigation } = Astro.props
const date = new Date()
const year = date.getFullYear()
---

<footer class="absolute left-0 bottom-0 w-full bg-primary p-4 px-6 text-xs text-white sm:px-12 md:px-16">
	<ul class="m-0 flex list-none gap-4 p-0 md:justify-center md:pb-0 md:text-center">
		{
			navigation.map((item) => {
				return (
					<li class="pl-0">
						<a href={'eckwerkstuttgart/' + item.title} data-href={item.title} aria-current="page">
							{item.title}
						</a>
					</li>
				)
			})
		}
	</ul>
	<div class="lg:flex lg:justify-center lg:gap-4 lg:text-center">
		<p>Eckwerk Stuttgart</p>
		<p>Stierlenstraße 25</p>
		<p>70327 Stuttgart</p>
		<p>
			Mail: <a class="text-white" href="mailto:hallo@eckwerkstuttgart.de"
				>hallo@eckwerkstuttgart.de</a
			>
		</p>
		<br />
		<p>© {year} Eckwerk Stuttgart</p>
	</div>
</footer>
