---
import type {ImageMetadata} from "astro";
import {Icon} from "astro-icon/components";
import Gallery from "./Gallery.astro";

const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/Albums/*/*");
const albumNames = Array.from(
	new Set(
		Object.keys(images)
			.map((imagePath) => imagePath.split('/')[4])
			.filter((name) => name !== 'Intro' && name !== 'Parallax')
	)
);
---

<div class="modal" id="galleryModal">
    <div class="gallery">
        <div class="gallery__menu">
            <ul>
							{albumNames.map((albumName) => (
                      <li>
                          <a>{albumName}</a>
                      </li>
							))}
            </ul>
            <button>
                <Icon name='line-md:close' id="galleryModalClose"/>
            </button>
        </div>

        <div class="gallery__content">
					{albumNames.map((albumName) => (
                  <div class="gallery">
                      <Gallery imageCollection={albumName}/>
                  </div>
					))}
        </div>
    </div>
</div>

<style lang="scss">
  @import "./../styles/GlobalStyling";

  .modal {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1000;
    display: none;
    background-color: $color-white;
    padding: 1rem;

    .gallery {
      display: flex;
      flex-direction: column;
      height: 100%;
      gap: 1rem;

      @include min-width("m") {
        flex-direction: row;
      }

      &__menu {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        background-color: $color-primary;
        padding: 1rem;

        @include min-width("m") {
          height: 100%;
          flex-direction: column;
        }

        ul {
          gap: 1rem;
          list-style-type: none;
          padding: 0;
          margin: 0;

          li {
            padding: 0;

            a {
              opacity: 0.5;
              text-decoration: none;
              text-transform: uppercase;
              font-family: Source Code Pro Variable, sans-serif;
              cursor: pointer;

              @include min-width("m") {
                font-size: 1.5rem;
              }
            }

            &:hover {
              color: $color-secondary;
            }
          }
        }

        button {
          background: none;
          border: none;
          cursor: pointer;
          padding: 0;
          margin: 0;

          @include min-width("m") {
            font-size: 1.5rem;
          }

          &:hover {
            color: $color-secondary;
          }
        }
      }

      &__content {
        height: 100%;
        overflow-y: auto;

      }
    }
  }

  .active {
    display: block;
  }

  .active-link {
    a {
      color: $color-secondary;
    }
  }
</style>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const modal = document.getElementById("galleryModal");
		const close = document.querySelector("#galleryModalClose");
		const galleryItems = document.querySelectorAll('.gallery__menu ul li');
		const galleryContents = document.querySelectorAll('.gallery__content .gallery');

		if (close) {
			close.addEventListener("click", () => {
				if (modal) {
					modal.classList.remove("active");
				}
			});
		}

		if (galleryItems.length > 0) {
			galleryItems[0].classList.add('active-link');
			// @ts-ignore
			galleryContents[0].style.display = 'block';
		}

		galleryItems.forEach((item, index) => {
			item.addEventListener('click', () => {
				galleryItems.forEach(link => link.classList.remove('active-link'));
				// @ts-ignore
				galleryContents.forEach(content => content.style.display = 'none');
				item.classList.add('active-link');
				// @ts-ignore
				galleryContents[index].style.display = 'block';
				document.body.classList.add("no-scroll");
				modal?.classList.add('active');
			});
		});

		document.addEventListener("keydown", (event) => {
			if (event.key === "Escape" && modal?.classList.contains("active")) {
				document.body.classList.remove("no-scroll");
				modal?.classList.remove("active");
			}
		});
	});
</script>
