---
import Navigation from "./Navigation.astro";
import { Icon } from "astro-icon/components";
import type { INavigation } from "../types/navigation";

interface Props {
  navigation: INavigation[];
}

const { navigation } = Astro.props;
---

<header class="h-24 w-full fixed flex justify-between items-center bg-primary z-50 p-7 pl-7 pr-7">
  <a href="https://eckwerkstuttgart.de/" class="no-underline ">
    <Icon name="logo" />
  </a>

  <Navigation navigation={navigation} navigationPostion="header" />
</header>


<style lang="scss">
  @import "./../styles/GlobalStyling";

  header {
    background-color: $color-primary;

    [data-icon] {
      font-size: 3rem;
      z-index: 1000;
    }
  }
</style>
