---
import Navigation from '@/components/Navigation.astro'
import { Icon } from 'astro-icon/components'
import type { INavigation } from '@/types/navigation'

interface Props {
	navigation: INavigation[]
}

const { navigation } = Astro.props
---

<header
	class="absolute z-50 flex h-24 w-full items-center justify-between bg-primary px-6 sm:px-12 md:px-16"
>
	<a href="https://eckwerkstuttgart.de/" class="z-50 text-5xl no-underline">
		<Icon name="logo" />
	</a>

	<Navigation navigation={navigation} navigationPostion="header" />
</header>
