---
import Navigation from '@/components/Navigation.astro'
import { Icon } from 'astro-icon/components'
import type { INavigation } from '@/types/navigation'

interface Props {
	navigation: INavigation[]
}

const { navigation } = Astro.props
---

<header class="fixed z-50 flex h-24 w-full items-center justify-between bg-primary p-7 pl-7 pr-7">
	<a href="https://eckwerkstuttgart.de/" class="no-underline">
		<Icon name="logo" />
	</a>

	<Navigation navigation={navigation} navigationPostion="header" />
</header>

<style lang="scss">
	[data-icon] {
		font-size: 3rem;
		z-index: 1000;
	}
</style>
