---
import {Image} from 'astro:assets';

interface Props {
	src: string;
	altText: string;
	sologan: string;
}

const src = Astro.props.src;
const altText = Astro.props.altText;
---
<div>
    <AstroImage src={src} alt={altText}/>
</div>

<style lang="scss">
  div {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
    }
  }
</style>
