---
import type { INavigation } from "../types/navigation";

interface Props {
  navigation: INavigation[];
  navigationPostion: string;
}

const { navigation } = Astro.props;
const { navigationPostion } = Astro.props;
---

<nav>
  <ul>
    {
      navigation.map((item) => {
        return (
          <li>
            <a
              href={
                navigationPostion === "header" ? "#" + item.title : item.title
              }
            >
              {item.title}
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>

<style lang="scss">
  @import "./../styles/GlobalStyling";

  nav {
    align-items: center;

    ul {
      display: flex;
      list-style: none;
      margin: unset;
      padding: unset;

      li {
        margin-right: 30px;

        &:last-child {
          margin-right: unset;
        }

        a {
          color: var(--white);
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
</style>
