---
export interface Props {
	page: any;
}
const {page} = Astro.props;
const {Content} = await page.render();
---

<section id={page.data.title}>
    <div>
        <article>
            <Content/>
        </article>
    </div>
</section>

<style lang="scss">
  @import "./../styles/GlobalStyling";

  section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;

      @include min-width("s") {
        width: 80%;
      }

      @include min-width("m") {
        width: 80%;
      }

      @include min-width("l") {
        width: 70%;
      }

      @include min-width("xl") {
        width: 65%;
      }

      @include min-width("xxl") {
        width: 60%;
      }

      article {

      }
    }
  }
</style>
