---
export interface Props {
  page: any;
}
const { page } = Astro.props;
const { Content } = await page.render();
---

<section id={page.data.title}>
  <h1>{page.title}</h1>
  <article>
    <Content />
  </article>
</section>

<style lang="scss">
  @import "./../styles/GlobalStyling";

  section {
    width: 100%;
    min-height: 100vh;
  }
</style>
