---
interface Props {
  title: string;
  image: string;
}

/**
 * @param {Props} Astro.props
 */
const { title, image } = Astro.props;
---

<section class="relative md:h-screen md:w-screen">
  <h1 class="absolute inset-0 mb-80 flex items-center justify-center text-white md:text-8xl lg:text-7xl">
    {title}
  </h1>

  <div class="inset-0 mt-24 h-screen w-screen bg-contain bg-no-repeat md:bg-cover md:bg-center"
       style={`background-image: url(${image});`}>
  </div>

</section>
