---
export interface Props {
	page: any;
}
const {page} = Astro.props;
const {Content} = await page.render();
---

<section id={page.data.title}>
    <div>
        <article>
            <div>
                <Content/>
            </div>

        </article>
    </div>
</section>
