---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon-mode-dark.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<!--<script>
  const setFavicon = () => {
    const favicon = document.querySelector('link[rel="icon"]');
    const isDarkMode = window.matchMedia("(prefers-color-scheme: dark)").matches;
    favicon.href = isDarkMode ? "dark-mode-favicon.png" : "light-mode-favicon.png";
  };

  setFavicon();
  window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", setFavicon);
</script>-->
