---
import GoBack from '@/components/GoBack.astro'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import GalleryModal from '@/components/GalleryModal.astro'
import { getNavigation } from '@/hooks/navigation'

interface Props {
	title: string
}

const { title } = Astro.props
const { navigationHeader, navigationFooter } = await getNavigation()
---

<!doctype html>
<html lang="de" class="h-full w-full overflow-x-hidden">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon-mode-dark.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>{title}</title>
	</head>
	<body class="flex h-full w-full flex-col overflow-x-hidden">
		<Header navigation={navigationHeader} />
		<main class="flex overflow-y-auto">
			<slot />
		</main>
		<GoBack />
		<Footer navigation={navigationFooter} />
		<GalleryModal />
	</body>
</html>
